//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 22 10:00:12 2019
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

