//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 22 17:21:44 2019
//! **************************************************************************

SCHEMATIC START;
COMP "I" LOCATE = SITE "J15" LEVEL 1;
COMP "O" LOCATE = SITE "H17" LEVEL 1;
SCHEMATIC END;

